<template>
    <div>
        <h1>Welcome</h1>
     usman islam   {{ count }}
        <button @click="count++">Count</button>
    </div>
</template>

<script setup>
import {ref} from 'vue';


let count=ref(0)

</script>

<style lang="scss" scoped>

</style>